{% extends 'base.html' %}
{% block content %}
<!-- Kreiranje navigacionog menia -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Evidencija studenata</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>    
    	</ul>
        <!--Link za logout-->
        
         <button class="btn btn-primary" data-toggle="modal" data-target="#logoutModal" >
             <i class="fas fa-sign-out-alt"></i>
         </button>
         </a>
        
        <!--Modal za logout-->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Da li ste sigurni da želite da se izlogujete?
                    </div>
                    <div class="modal-footer">
                        <!--Otkaži-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                        <!--Logout-->
                        <a href={{ url_for('logout') }} role="button" class="btn btn-danger">Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Kraj Modala-->
     </div>
</nav>
<!-- Zavrseno kreiranje navigacionog menia -->

<!--Kreiranje sadrzaja stranice : -->
<div class='container'>
    <h4><label>Izmena predmeta</label></h4>
	<form action = {{ url_for('predmet_izmena', id = predmet.id) }} method='POST'>
		<label>Šifra</label><br>
		<input type = 'text' class='form-control' name = 'sifra' value = {{ predmet['sifra'] }} required style="width: 35%">
        <br>
		<label>Naziv</label><br>
		<input type = 'text' class='form-control' name = 'naziv' value = {{ predmet['naziv'] }} required style="width: 35%">
        <br>
		<label>Godina studija</label><br>
		<input type = 'number' class='form-control' name = 'godina_studija' value = {{ predmet['godina_studija'] }} required style="width: 35%"><br>
        <label>ESPB</label><br>
        <input type = 'number' class = 'form-control'  name = 'espb' value = {{ predmet['espb'] }} required style="width: 35%"><br>
		<label>Obavezni/Izborni</label><br>
		<select name = 'obavezni_izborni' class='form-control' value = {{ predmet['obavezni_izborni'] }} required style="width: 35%"><br>
			<option style='background-color: #DFDFDF' value = 'obavezni' >Obavezni</option>
			<option style='background-color: #DFDFDF' value = 'izborni' >Izborni</option>
		</select><br>
		<button type = 'Submit' class = 'btn btn-primary' >Sačuvaj</button>
	</form>
</div>

{% endblock %}