{% extends 'base.html' %}
{% block content %}
<!-- Kreiranje navigacionog menia -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Evidencija studenata</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {%if rola != 'student'%}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
     {%endif%}
        {% if (rola == 'administrator') %}
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>  
            <li class="nav-item ">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
        {% endif %}    
    	</ul>
        <!--Link za logout-->
        
         <button class="btn btn-primary" data-toggle="modal" data-target="#logoutModal" >
             <i class="fas fa-sign-out-alt"></i>
         </button>
         </a>
        
        <!--Modal za logout-->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Da li ste sigurni da želite da se izlogujete?
                    </div>
                    <div class="modal-footer">
                        <!--Otkaži-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                        <!--Logout-->
                        <a href={{ url_for('logout') }} role="button" class="btn btn-danger">Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Kraj Modala-->
     </div>
</nav>
<!-- Zavrseno kreiranje navigacionog menia -->


<!--Sadrzaj stranice-->
<div class = 'container'>
    <label>Izmeni studenta</label>
        <form action = {{ url_for('student_izmena', id = student.id) }} method='POST' enctype="multipart/form-data">
        <!--Izmena slike-->
        <div class="form-group">
            <label for="slika">
            <img 
            {% if student.slika %}
            src="/static/uploads/{{student.slika}}"
            {%else%}
            src="/static/placeholder01.png"
            {%endif%} 
            id="slika_pregled" 
            />
            </label>
            <label for="slika" class="btn btn-primary">Odaberi sliku</label>
            <input type="file" accept="image/*" class="custom-file-input" hidden id="slika" name="slika">
        </div>

        <label>Broj indeksa</label><br>
        <input type = 'text' name = 'broj_indeksa' class='form-control' value = {{student.broj_indeksa}} required style="width:35%" {%if rola == 'student'%} readonly {%endif%}><br>
        <label>Ime</label><br>
        <input type = 'text' name = 'ime' class='form-control' value = {{student.ime}} required style="width:35%"><br>
        <label>Ime roditelja</label><br>
        <input type = 'text' name = 'ime_roditelja' class='form-control' value = {{student.ime_roditelja}} required style="width:35%"><br>
        <label>Prezime</label><br>
        <input type = 'text' name = 'prezime' class='form-control' value = {{student.prezime}} required style="width:35%">
        <br>
        <label>Email</label><br>
        <input type = 'email' name = 'email' class='form-control' value = {{student.email}} required style="width:35%" {%if rola == 'student'%} readonly {%endif%}><br>
        <label>Broj telefona</label><br>
        <input type = 'number' name = 'broj_telefona' class='form-control' value = {{student.broj_telefona}} required style="width:35%"><br>
        <label>Godina studija</label><br>
        <input type = 'number' name = 'godina_studija' class='form-control' value = {{student.godina_studija}} required style="width:35%" {%if rola == 'student'%} readonly {%endif%}><br>
        <label>Datum rodjenja</label><br>
        <input type = 'date' name ='datum_rodjenja' class='form-control' value = {{student.datum_rodjenja}} required style="width:35%"><br>
        <label>JMBG</label><br>
        <input type = 'number' name = 'jmbg' class='form-control' value = {{student.jmbg}} required style="width:35%"><br>


        <button type ='submit' class = 'btn btn-primary'>Sačuvaj</button>

        
    </form>
</div>



{% endblock %}